@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.product-container {
  padding: 50px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
}

:root {
  scroll-padding-top: 126px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffa302;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #360f7f;
}

/* html,
body {
  scroll-behavior: smooth;
} */
