@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.product-container {
  padding: 50px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
}

:root {
  scroll-padding-top: 126px;
}

/* html,
body {
  scroll-behavior: smooth;
} */
